{% extends "::base.html.twig" %}

{% block headerContainer %}
    <div class="block" id="headerContainer">
        <div class="row">
            <div class="col-md-5">
                {{ button(
                      'action.add', 
                      {
                          url: path('admin_user_add'),
                          icon: 'icon.add', 
                          target: 'user-form-container', 
                          type: 'primary',
                          action: 'action-add-user'
                      }) }}                 
            </div>
            <div class="col-md-7">
                <div class="pull-right">
                    <a href="{{ path('admin_user_myprofile') }}">{{ 'icon.user'|icon }} My Profile</a>
                </div>
            </div>
        </div>            
    </div>
{% endblock %}

{% block body %}
    
    {{ modal(
        'user-form-container',
        {
            icon: 'icon.user', 
            title: 'Add/Edit User'
        }) }} 
        
    {{ modal(
        'user-view-container',
        {
            icon: 'icon.user', 
            title: 'Add/Edit User'
        }) }} 
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th class="col-md-4"></th>
            </tr>
        </thead>
        <tbody>

        {% for user in pagination %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>
                    <div class="pull-right">
                        {{ button(
                              'action.display', 
                              {
                                  url: path('admin_user_view', {'userId': user.id}),
                                  icon: 'icon.display', 
                                  target: 'user-view-container', 
                                  action: 'action-display-user'
                              }) }} 
                        {{ button(
                            'action.edit', 
                            {
                                url: path('admin_user_edit', {'userId': user.id}),
                                icon: 'icon.edit', 
                                target: 'user-form-container', 
                                action: 'action-edit-user'
                            }) }}
                        {{ button(
                            'action.delete', 
                            {
                                url: path('admin_user_delete', {'userId': user.id }),
                                icon: 'icon.delete', 
                                action: 'action-delete-user',
                            }) }}
                    </div>  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table> 

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>        
{% endblock %}
    
{% block script %}
    {% include '::admin/user/js/users.js.twig' %}
{% endblock %}